body {
    background-color: white;
}

html, body {
    height: 100%;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* Upper navbar styling */
nav {
    height: 11%;
}

nav a {
    color: #5e5e5e;
    font-family: 'Gafata', sans-serif;
    margin-top: 11px;
    margin-right: 20px;
}


.navbar {
    background-color: #63498b;
    color: white;
    width: 100%;
    margin-bottom: 0px;
}

.navbar .nav a {
    font-size: 160%;
    color: white;
}

.navbar .nav a:hover {
    text-decoration: none;
    font-weight: normal;
    background-color: #63498b;
}

.navbar-brand {
    font-size: 2.7em;
    color: white;
    text-decoration: none;
    font-family: 'Gafata', sans-serif;
    margin-left: 20px;
    margin-top: 10px;
}

.navbar-brand:hover {
    text-decoration: none;
    color: white;
}

/* Marketing informations pages styling */

h1 {
    color: #63498b;
    font-size: 3.1em;
    font-family: 'Raleway', sans-serif;
}

.header {
    margin-top: 50px;
    margin-bottom: 30px;
}

.action-button {
    border: 4px solid #63498b!important;
    color: black;
    background-color: white!important;
    font-family: 'Raleway', sans-serif;
    margin-top: 60px;
}

.action-button:hover {
    font-weight: normal;
    color: white;
    background-color: #63498b!important;
    font-family: 'Raleway', sans-serif;
}

p {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-align: justify;
}






  