{% extends 'base.html' %}
{% block title %}My account{% endblock %}
{% block body %}
<div class="row">
  <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-2 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-2 account-part">
    <h2>My bids</h2>
    {% if current_user.buyer_bid %}
    <ul>
      {% for bid in current_user.buyer_bid %}
      <li>{{ bid.value_micro() }} <abbr title="Micro bitcoin 10^(-6)">μBTC</abbr> placed on
        <span class="moment-date">{{ bid.created_at }}</span>
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <p>You have no bids... Maybe you would like to <a href="/profiles">email one of our awesome users</a>.</p>
    {% endif %}
  </div>
  <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-2 col-md-5 col-md-offset-0 col-lg-4 col-lg-offset-0 account-part">
    <h2>Who bids on me</h2>
    {% if current_user.seller_bid %}
    <ul>
      {% for bid in current_user.seller_bid %}
      <li>{{ bid.value_micro() }} <abbr title="Micro bitcoin 10^(-6)">μBTC</abbr> placed on
        <span class="moment-date">{{ bid.created_at }}</span>
      </li>
      <form method="post" action="/account/accept_bid">
        <input class="btn btn-success" type="submit" value="Accept the highest bid" title="We accept every week the best offer. However, if you would like to receive more emails, feel free to accept them manually. 

This action will send the highest bidder request to ask you a question and you can earn bitcoins more often.">
      </form>
      {% endfor %}
    </ul>
    {% else %}
    <p>No one wants your attention, really? Go spread the word about your profile. (TODO: Twitter/Facebook)</p>
    {% endif %}
  </div>
</div>

<div class="row">
  <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-2 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-2 account-part">
    <h2>Outstanding payouts</h2>
    <p>Due to <abbr title="USA bank transfers take few days... so this side-project has similar delays ;). For initial version we decided prioritize security over anything else (including this delay).">security reasons</abbr> payouts may take up to 2 working days.</p>
    {% if payouts %}
    <ul>
      {% for payout in payouts %}
      <li>{{ payout.value_micro() }} <abbr title="Micro bitcoin 10^(-6)">μBTC</abbr> waiting since <span class="moment-date">{{ payout.created_at }}</span></li>
      {% endfor %}
    </ul>
    {% else %}
    <p>No payouts yet. Promote your profile and start earning bitcoins!</p>
    {% endif %}
  </div>
  <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-2 col-md-5 col-md-offset-0 col-lg-4 col-lg-offset-0 account-part">
    <h2>My profile</h2>
    <a href="/my_profile"><span class="span-text"><abbr title="Go ahead and edit 'Interested in' part! Need more? Maybe it is time to polish your LinkedIn profile a bit:)">Edit</abbr></span><img id="edit" src="static/images/edit.png"></a>
  </div>
</div>

<div class="row">
  <div class="col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-2 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-2 account-part">
    <h2>My email archive</h2>
    <p>Just go to your email account and find them (e.g. searching by: from:*@ozaur.com). We do not store your messages.</p>
    <p>Strong privacy delivered.</p>
  </div>
</div>
{% endblock %}