<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1" charset="utf-8">
        <link rel="stylesheet" href="/static/css/bootstrap.css">
        <link rel="stylesheet" href="/static/css/bootstrap-theme.css">
        <link rel="stylesheet" href="/static/css/style.css">
        <script type="text/javascript" src="/static/js/jquery-2.1.0.min.js"></script>
        <script type="text/javascript" src="/static/js/bootstrap.js"></script>
        <script type="text/javascript" src="/static/js/application.js"></script>
        <link href='http://fonts.googleapis.com/css?family=Gafata' rel='stylesheet' type='text/css'>  
        <link href='http://fonts.googleapis.com/css?family=Raleway:600' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:600' rel='stylesheet' type='text/css'>
        <link rel="shortcut icon" href="/static/ozaur_logo.ico" />
    </head>
    <body>
        <div class="main">
            <nav class="navbar" role="navigation">
                <button class="navbar-toggle" data-toggle="collapse" data-target="#upper-navbar">
                    <span class="sr-only"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">Ozaur</a>

                <div class="collapse navbar-collapse" id="upper-navbar">
                    <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_authenticated() %}
                        <li><a id="browse" href="/profiles">Browse profiles</a></li>
                        <li><a href="/logout">Log out</a></li>
                    {% else %}
                        <li><a id="log-in" href="#">Log in</a></li>
                    {% endif %}
                        <li><a href="/team">Team</a></li>
                    </ul>
                <div>
            </nav>
        </div>
        {% for message in get_flashed_messages() %}
        <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{message}}
        </div>
        {% endfor %}

        {% block body %}{% endblock %}

        {% if not current_user.is_authenticated() %}
        <script type="text/javascript" src="http://platform.linkedin.com/in.js">
            api_key: 75l6c5puk0y9n2
        </script>
        <form method="post" action="{{ url_for('login_post') }}" id="login-form">
            <input type="hidden" name="linkedin_oauth_token" value="(none)">
        </form>
        {% endif %}
    </body>
</html>






