<html>
  <body>
    <h1>Ozaur - the attention marketplace</h1>
    <!--<p>The attention marketplace. Buy and sell using bitcoins.</p>-->

    <h2>Get email response for bitcoin.</h2>
    <p>Technically you can send message to anyone on the internet... but will it be read and responded?</p>
    <p>Imagine what you could achieve if you can grab attention anyone in the world?</p>
    <p>Interested? Just bid on any profile. Each week the best offer got a priviliage to send a priority message with promised quality reponse.</p>

    <p>Don't spam. Respect their time. Tip them for their valuable time.</p>

    <h2>Sell 5 minute of your attention to one who deserves it the most.</h2>
    

    <a href="{{ url_for('signup')  }}">Join the revolution</a>
  </body>
</html>

