<!DOCTYPE html>
<html>
    <head>
        <title>Ozaur</title>
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1" charset="utf-8">
        <link rel="stylesheet" href="/static/css/bootstrap.css">
        <link rel="stylesheet" href="/static/css/bootstrap-theme.css">
        <link rel="stylesheet" href="/static/css/style.css">
        <script type="text/javascript" src="/static/js/jquery-2.1.0.min.js"></script>
        <script type="text/javascript" src="/static/js/bootstrap.js"></script>
        <script type="text/javascript" src="/static/js/application.js"></script>
        <link href='http://fonts.googleapis.com/css?family=Gafata' rel='stylesheet' type='text/css'>    </head>
        <link href='http://fonts.googleapis.com/css?family=Raleway:600' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:600' rel='stylesheet' type='text/css'>
  <body>
        <nav class="navbar" role="navigation">
            <a href="index.html" class="navbar-brand">Ozaur</a>
            <div id="upper-navbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="team.html">Team</a></li>
                </ul>
            <div>
        </nav>
        <div class="row header">
            <div class="col-xs-10 col-xs-offset-1 col-sm-7 col-sm-offset-1 col-md-7 col-md-offset-1 col-lg-7 col-lg-offset-1">
                <h1>The attention marketplace</h1>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-1 col-md-8 col-md-offset-1 col-lg-10 col-lg-offset-2">
                         <p>Technically you can send message to anyone on the internet... but will it be read and responded?</p>
                         <p>We make sure, that it will.</p>
                         <p>Just sign up with your LinkedIn and start bidding on profiles, which looks most interesting for you.</p>
                         <p>Each week the best offer got a priviliage to send a priority message with promised quality reponse.</p>
                         <p>Pay easily using bitcoins.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-xs-6 col-xs-offset-3 col-sm-1 col-sm-offset-6 col-md-1 col-md-offset-7 col-lg-1 col-lg-offset-3">
                        <img src="/static/images/logo_by_google.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 col-xs-offset-4 col-sm-1 col-sm-offset-4 col-md-1 col-md-offset-4 col-lg-1 col-lg-offset-4">
                <a href="{{ url_for('signup') }}" class="btn btn-default btn-lg active action-button" role="button">Join the revolution</a>
            </div>
        </div>
  </body>
</html>

