<div class="our-value">
    {% extends 'base.html' %}
    {% block title %}The priority email{% endblock %}
    {% block body %}
    <div class="row header">
        <div class="col-xs-10 col-xs-offset-1 col-sm-7 col-sm-offset-1 col-md-7 col-md-offset-1 col-lg-7 col-lg-offset-1">
            <h1>The attention marketplace</h1>
        </div>
    </div>
    <div id="header-text" class="row">
        <div class="col-lg-6">
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-1 col-md-8 col-md-offset-1 col-lg-10 col-lg-offset-2">
                     <p>Technically you can send message to anyone on the internet... but will it be read and responded?</p>
                     <p>We make sure, that it will.</p>
                     <p>Each week the best offer got a priviliage to send a priority message with promised quality reponse.</p>
                     <p>Bid easily using bitcoin.</p>
                     <p>The others can bid on you. Earn bitcoin while selling your attention to them.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="row">
                <div class="col-xs-12 col-sm-1 col-sm-offset-6 col-md-1 col-md-offset-7 col-lg-1 col-lg-offset-3">
                    <img id="main-logo" src="/static/images/ozaur_logo.png">
                </div>
            </div>
        </div>
    </div>
  {% if not current_user.is_authenticated() %}           
    <div class="row">
        <div class="col-xs-3 col-xs-offset-3 col-sm-1 col-sm-offset-4 col-md-1 col-md-offset-4 col-lg-1 col-lg-offset-4">
            <a href="{{ url_for('signup') }}" class="btn btn-default btn-lg active action-button" role="button">Join the revolution</a>
        </div>
    </div>
 {% endif %}
</div>
<div class="row">
    <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 col-md-5 col-md-offset-4 col-lg-4 col-lg-offset-4 how-works">
        <h2>HOW DOES IT WORK?</h2>
    </div>
</div>
<div class="row how-works-step">
    <div class="col-md-6 col-lg-6">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-2 col-lg-10 col-lg-offset-2">
                <h2>1. Sign up with LinkedIn</h2>
                <p>Sign up to Ozaur using your LinkedIn account. Your profile will be public, but contact information will not be displayed or exchanged.</p>
                <p>Voila. Now you can start browsing other people profiles. Somebody's expertise caught you attention? You would love to send this person email and get response? It's time to start bidding!</p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-6">
        <div class="row">
            <div class="col-xs-6 col-xs-offset-4 col-sm-4 col-sm-offset-5 col-md-3 col-md-offset-3 col-lg-2 col-lg-offset-4">
                <img class="icon-large" src="/static/images/LinkedIn.png">
            </div>
        </div>
    </div>
</div>
<div class="row how-works-step">
    <div class="col-md-6 col-lg-6">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-2 col-lg-10 col-lg-offset-2">
                <h2>2. Earn bitcoin</h2>
                <p>You likely receive way more emails than you can handle. How about giving priority to people who respect you the most?</p>
                <p>We can run a continuous auction of your attention. Each week the one who offer the most bitcoin will get a chance to send you a message.</p>
                <p>Spent at least 5 minute a week answering the email. You will earn bitcoin payed out to your Coinbase account.</p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-6">
        <div class="row">
            <div class="col-xs-6 col-xs-offset-4 col-sm-4 col-sm-offset-5 col-md-3 col-md-offset-3 col-lg-2 col-lg-offset-4">
                <img class="icon-medium" src="/static/images/Sell.png">
            </div>
        </div>
    </div>
</div>
<div class="row how-works-step">
    <div class="col-md-6 col-lg-6">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-2 col-lg-10 col-lg-offset-2">
                <h2>3. Buying attention</h2>
                <p>Would you like to sent a priority email? You can do it, by bidding bitcoin on a user profile.</p>
                <p>Every week the highest bid will turn into an opportunity to sent a message.</p>
                <p>No one likes cold calling/emailing. Now you can get 5 minute attention.</p>
                <p>Think of it as a stamp for your important emails.</p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-6">
        <div class="row">
            <div class="col-xs-6 col-xs-offset-4 col-sm-4 col-sm-offset-5 col-md-3 col-md-offset-3 col-lg-2 col-lg-offset-4">
                <img class="icon-large" src="/static/images/Bid.png">
            </div>
        </div>
    </div>
</div>
<div class="row how-works-step">
    <div class="col-md-6 col-lg-6">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-2 col-lg-10 col-lg-offset-2">
                <h2>4. Buy bitcoin</h2>
                <p>In order to bid attention, you need to have <a href="http://en.wikipedia.org/wiki/Bitcoin" target="_blank">bitcoin</a>. You can buy them easily on <a href="http://www.coinbase.com" target="_blank"><img src="static/images/coinbase_logo.png"></a>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-6">
        <div class="row">
            <div class="col-xs-6 col-xs-offset-4 col-sm-4 col-sm-offset-5 col-md-3 col-md-offset-3 col-lg-2 col-lg-offset-4">
                <img class="icon-small" src="/static/images/Bitcoin.png">
            </div>
        </div>
    </div>
</div>
<div class="row how-works-step">
    <div class="col-md-6 col-lg-6">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-2 col-lg-10 col-lg-offset-2">
                <h2>5. Exchanging messages</h2>
                <p>After you win an auction, we notify you with an email. Respond with your question.</p>
                <p>We will forward your message. The profile owner can answer by responding to our email.</p>
                <p>No need to install any app, just use your email client.</p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-6">
        <div class="row">
            <div class="col-xs-6 col-xs-offset-4 col-sm-4 col-sm-offset-5 col-md-3 col-md-offset-3 col-lg-2 col-lg-offset-4">
                <img class="icon-medium" src="/static/images/Email.png">
            </div>
        </div>
    </div>
</div>

{% endblock %}






