<html>
  <head>
    <title>My Ozaur profile</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1" charset="utf-8">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script type="text/javascript" src="/static/js/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.js"></script>
    <script type="text/javascript" src="/static/js/application.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Gafata' rel='stylesheet' type='text/css'>    </head>
    <link href='http://fonts.googleapis.com/css?family=Raleway:600' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:600' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <p>{{ user.email }}</p>
    <p>{{ user.display_name }}</p>
    <p>{{ user.headline }}</p>
    <p>{{ user.location }}</p>
    <p>{{ user.industry }}</p>
    <img src="{{ user.photo_url }}">

    <h2>Summary</h2>
    <p>{% for line in linkedin["summary"].splitlines() %} {{line}}<br> {% endfor %}</p>

    <h2>Skills</h2>
    {% for skill in linkedin["skills"]["values"] %}
        <p>{{ skill["skill"]["name"] }}</p>
    {% endfor %}

    <h2>Jobs</h2>
    {% for position in linkedin["positions"]["values"] %}
      <h3>{{ position["title"] }} at {{ position["company"]["name"] }} ({{ position["company"]["industry"] }} {{ position["company"]["size"] }}) </h3>
      <p> {{ position["startDate"]["month"]}} {{ position["startDate"]["year"] }} -
        {% if "endDate" in position %}
            {{ position["endDate"]["month"]}} {{ position["endDate"]["year"] }}
        {% else %}
            current
        {% endif %} </p>
      <p>{% for line in position["summary"].splitlines() %}
            {{line}} <br>
        {% endfor %}
      </p>
    {% endfor %}

    <h2>Interests</h2>
    <p>{{ linkedin["interests"] }}</p>

    <h2>Associations</h2>
    <p>{{ linkedin["associations"] }}</p>

    <h2>Education</h2>
    {% for education in linkedin["educations"]["values"] %}
        <h3>{{ education["schoolName"] }}</h3>
        <p>{{ education["startDate"]["year"] }} - {{ education["endDate"]["year"] }}</p>
        <p>{{ education["fieldOfStudy"] }}</p>
        <p>{{ education["activities"] }}</p>
        <p>{{ education["notes"] }}</p>
    {% endfor %}
  </body>
</html>
