{% extends 'base.html' %}
{% block title %}Polish your profile{% endblock %}
{% block body %}
{% set num_to_month = {1: "January", 2: "February", 3: "March", 4: "April", 5: "May", 6: "June",
    7: "July", 8: "August", 9: "September", 10: "October", 11: "November", 12: "December"} %}

<div class="row">
    <div class="row">
        <div class="col-xs-4 col-sm-6 col-md-6 col-lg-6">
            <div class="row">
                <div class="col-xs-6 col-xs-offset-4 col-sm-2 col-sm-offset-6 col-md-1 col-md-offset-8 col-lg-1 col-lg-offset-8">
                    <img class="user-portrait" src="{{ user.photo_url }}">
                </div>
            </div>
        </div>
        <div class="col-xs-8 col-sm-6 col-md-6 col-lg-6">
            <div class="row">
                <div class="col-xs-8 col-sm-6 col-md-6 col-lg-6">
                    <h2>{{ user.display_name }}</h2>
                     <p class="about">{{ user.email }} {% if not user.active %} (Please activate your email) {% endif %}</p>
                    <p>{{ user.headline }}</p>
                    <p>{{ user.location }}</p>
                    <p>{{ user.industry }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-8 col-xs-offset-1 col-sm-6 col-sm-offset-2 col-md-4 col-md-offset-3 col-lg-4 col-lg-offset-3">
        <div id="interested-in">
            <p class="about">Interested in (pitch yourself!):</p>
            <input type="hidden" value="{{ user.id }}">
            <textarea>{{ user.interested_in }}</textarea>
            <div id="interested-in-alert" class="alert alert-success alert-dismissable" style="display: none;">
                <button type="button" class="close">&times;</button>Your interests were saved successfully!
            </div>
            <button class="btn btn-default save">Save</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
        <h2>Summary</h2>
        <p class="about">{% for line in linkedin["summary"].splitlines() %} {{line}}<br> {% endfor %}</p>
    </div>
</div>

<div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
        <h2>Jobs</h2>
            {% for position in linkedin["positions"]["values"] %}
                <div class="job">
                    <h3>{{ position["title"] }} at {{ position["company"]["name"] }} ({{ position["company"]["industry"] }} {{ position["company"]["size"] }}) </h3>
                    <h4> {{ num_to_month[position["startDate"]["month"]] }} {{ position["startDate"]["year"] }} -
                        {% if "endDate" in position %}
                            {{ num_to_month[position["endDate"]["month"]] }} {{ position["endDate"]["year"] }}
                        {% else %}
                            current
                        {% endif %} </h4>
                    <p class="about">{% for line in position["summary"].splitlines() %}
                            {{line}} <br>
                        {% endfor %}
                    </p>
                </div>
            {% endfor %}
    </div>
</div>

<div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
        <h3>Skills</h3>
        {% for skill in linkedin["skills"]["values"] %}
            <span>{{ skill["skill"]["name"] }},</span>
        {% endfor %}
    </div>
</div>

<div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
        <h3>Education</h3>
        {% for education in linkedin["educations"]["values"] %}
            <div class="school">
                <h4>{{ education["schoolName"] }}</h4>
                <p class="about">{{ education["startDate"]["year"] }} - {{ education["endDate"]["year"] }}</p>
                <p class="about">{{ education["fieldOfStudy"] }}</p>
                <p class="about">{{ education["activities"] }}</p>
                <p class="about">{{ education["notes"] }}</p>
            </div>
        {% endfor %}
    </div>
<div>

<div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
        <h3>Interests</h3>
        <p class="about">{{ linkedin["interests"] }}</p>
    </div>
</div>

<div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
        <h3>Associations</h3>
        <div class="association">
            <p class="about">{{ linkedin["associations"] }}</p>
        </div>
    </div>
</div>
{% endblock %}




