<html>
  <head>
    <title>My Ozaur profile</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1" charset="utf-8">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script type="text/javascript" src="/static/js/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.js"></script>
    <script type="text/javascript" src="/static/js/application.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Gafata' rel='stylesheet' type='text/css'>    </head>
    <link href='http://fonts.googleapis.com/css?family=Raleway:600' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:600' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <p>{{ user.display_name }}</p>
    <p>{{ user.headline }}</p>
    <p>{{ user.location }}</p>
    <p>{{ user.industry }}</p>

    <h2>Skills</h2>
    {% for skill in linkedin["skills"]["values"] %}
        <p>{{ skill["skill"]["name"] }}</p>
    {% endfor %}

    <h2>Jobs</h2>
    {% for position in linkedin["positions"]["values"] %}
      <p>{{ position }}</p>
    {% endfor %}


     <p>{{ linkedin }}</p>
  </body>
</html>
