{% extends 'base.html' %}
{% block title %}Sign up to Ozaur{% endblock %}
{% block body %}
<div class="row rules">
  <div class="col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-4 col-md-3 col-md-offset-5 col-lg-2 col-lg-offset-5">
    <h1>The rules</h1>
  </div>
</div>
<div class="row terms">
  <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-6 col-lg-offset-3">
    <p>You promise to spent 5 minute a week to respond a message. This is a side-project, do not put more bitcoins than you can afford to lose.</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
    <ol>
      <li>You give us right to copy your LinkedIn profile data, store it and display it publicly.</li>
      <li>You have full copy rights to the content of your LinkedIn profile.</li>
      <li>Ozaur will not share any of your contact information with the other users.</li>
      <li>Every message will be send via Ozaur, not directly to the users.</li>
      <li>You must be at least 18 years old.</li>
      <li>Auction at every user profile is solved once a week. You can opt-in to solve it more often.</li>
      <li>Ozaur use only bitcoin though Coinbase to make and receive payments.</li>
      <li>We make best effort to be as secure as possible, but we are not responsible for any loses as a result of hacking attacks.</li>
      <li>In order to make a bid, you will have to pay proper amount of bitcoin.</li>
      <li>When you win an auction, you have 48 hours to write a question. After that period we may decide to not process a message.</li>
      <li>When you receive a question, you have 48 hours to write an answer. After that period we may decide to not pay you bitcoin.</li>
      <li>We are delaying payouts up to 2 business days for security reasons.</li>
      <li>You agree to store our cookies in your browser.</li>
      <li>These rules govern your use of this website; by using this website, you accept these terms and conditions in full. If you disagree with these terms and conditions or any part of these terms and conditions, you must not use this website.</li>

    </ol>
  </div>
</div>
<div class="row">
  <div class="col-xs-8 col-xs-offset-3 col-sm-6 col-sm-offset-5 col-md-4 col-md-offset-3 col-lg-4 col-lg-offset-5">
    <form>
      <input id="sign-up-agree-checkbox" type="checkbox" />
      <label for="sign-up-agree-checkbox"> I agree with the rules</label>
    </form>
    <button id="sign-up-button" class="btn btn-default">Sign up with LinkedIn
      <img src="static/images/signup_linkedin.png">
    </button>

  </div>
</div>

<form method="post" action="{{ url_for('create_account') }}" id="signup_form">
  <input type="hidden" name="linkedin_oauth_token" value="(none)">
</form>
{% endblock %}

