<html>
  <head>
    <title>Sign up to Ozaur</title>
    <script type="text/javascript" src="static/js/jquery-2.1.0.min.js">
    </script>
  </head>
  <body>
    <h1>The rules</h1>
    <p>You give us right to copy your profile data and store it.</p>
    <script type="text/javascript" src="http://platform.linkedin.com/in.js">
        api_key: 75l6c5puk0y9n2
        onLoad: LinkedIn.onLoad
    </script>
    <script type="text/javascript">
      var LinkedIn = {
        onLoad: function() {
          IN.Event.on(IN, "auth", LinkedIn.onAuth);
        },

        onAuth: function() {
          // Pass OAuth token to backend, which will fetch profile and create an account.
          $("#signup_form input").val(IN.ENV.auth.oauth_token);
          $("#signup_form").submit();
        }
      };

    </script>

    <script type="in/Login">
      Hello!
    </script>

    <a href="/">Connect with LinkedIn</a>
    <form method="post" action="{{ url_for('create_account') }}" id="signup_form">
      <input type="hidden" name="linkedin_oauth_token" value="(none)">
    </form>

  </body>
</html>

