<!DOCTYPE html>
<html>
    <head>
        <title>Ozaur Team</title>
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1" charset="utf-8">
        <link rel="stylesheet" href="/static/css/bootstrap.css">
        <link rel="stylesheet" href="/static/css/bootstrap-theme.css">
        <link rel="stylesheet" href="/static/css/style.css">
        <script type="text/javascript" src="/static/js/jquery-2.1.0.min.js"></script>
        <script type="text/javascript" src="/static/js/bootstrap.js"></script>
        <script type="text/javascript" src="/static/js/application.js"></script>
        <link href='http://fonts.googleapis.com/css?family=Gafata' rel='stylesheet' type='text/css'>  
        <link href='http://fonts.googleapis.com/css?family=Raleway:600' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:600' rel='stylesheet' type='text/css'>
        <link rel="shortcut icon" href="/static/ozaur_logo.ico" />
    </head>
    <body>
        <nav class="navbar" role="navigation">
            <a href="/" class="navbar-brand">Ozaur</a>
            <div id="upper-navbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/team">Team</a></li>
                </ul>
            <div>
        </nav>
        <div class="row header">
            <div class="col-xs-8 col-xs-offset-2 col-sm-5 col-sm-offset-4 col-md-5 col-md-offset-4 col-lg-4 col-lg-offset-4">
                <h1>Our dream team</h1>
            </div>
        </div>

        <div class="row jacek">
            <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <img class="portrait" src="static/images/Jacek_cut.png">
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <p>Jacek Migdal</p> 
                        <p class="about">Software engineer with astonishing ideas who loves solving hard problems. Codes whatever it takes to achieve success. Holds MSc in Computer Science from University of Warsaw. Alumni of National Association for Gifted Children. Got two bronze medals in Polish Olympiad in Informatics.</p>
                        <p class="about">He had a chance to intern at companies, which names everyone knows: NVIDIA and Facebook. Originally from Poland, now he enjoys living in Silicon Valley and proudly works for Big Data startup <a href="https://sumologic.com/">Sumo Logic</a>.</p><p class="about">He build mostly backend part of Ozaur.</p><p class="about">Jacek likes hiking, travelling and hacking. He is a huge fan of Hacker News.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row gosia">
            <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <img class="portrait" src="static/images/Gosia_cut.png">
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <p>Gosia Migdal</p> 
                        <p class="about">Multidisciplinary creature, passionate about people and technology. Gosia used to work on neuroscience research and holds MSc in Psychology from University of Warsaw.</p> <p class="about">After doing usability research for both startup and corporate she decided to learn programming. She recently finished Hackbright Academy in San Francisco. Now she is proudly working at startup <a href="https://codility.com/">Codility</a>, helping it with global expansion.</p> <p class="about">She mostly worked on front-end part of Ozaur. </p><p class="about">Gosia loves travelling, eating food from all over the world, reading books and discovering new smells. </p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>




